@import url('https://fonts.googleapis.com/css2?family: nter:wgt@300;500;600;700&display: wap');
*{
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E3E6EA;
}

header{
   
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color: #1C4C96;
}

.container-graficos{
    margin: auto;
    margin-top: 100px;
    width: 984px;
    height: 459px;
    background-color: #E3E6EA;
}
.logo-imagem img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 15px;
}
.grafico{
    width: 300px;
    height: 180px;
}
.espaco-top{
    margin-top: 10px;
}

.logo-meio img{

    border: none;
    padding: 0px 30px ;
    text-align: center;
    
}

.container-logo{
    margin: auto;
    width: 984px;
    height: 70px;
    background-color: #1C4C96;
}

.box {
    float: left;
    box-sizing: border-box;
    display: flex;
    width: 390px;
    height: 50px;
    padding: 15px 30px ;

    background: #E3E6EA;
    border: 2px solid #1C4C96;
    border-radius: 10px;

}

.box2{
    float: left;
    width: 390px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    padding: 10px 45px;
    background: #E3E6EA;
    border: 2px solid #1C4C96;
    border-radius: 10px;
}
.texto-header-pg {
    float: right;
    margin-top: 20px;
    width: 160px;  
    border: none; 
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight:600;
    color: #000000;
}
.texto-header {
    float: right;
    margin-top: 20px;
    width: 80px;  
    border: none; 
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight:600;
    color: #000000;
}

.traco-pg {
    float: right;
    width: 165px;
    height: 50px;

}

.texto-traco1 {
    float: right;
    margin-top: 10px;
    width: 50px; 
    height: 4px;
    border: none; 
    text-align: center;
    border-bottom: 3px solid #97BDF5;
    border-radius: 3px;
}

.texto-traco2 {
    width: 90px;  
    border: none; 
    text-align: center;
    border-bottom: 1px solid #000000;
}

.dois_pontos{
    height: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.marginBetween{
    margin-right: 20px;
}

.marginBox{
    float: left;
    margin: 100px;
}

.container_secao{
    margin: auto;
    margin-top: 200px;
    border-bottom: 1px solid #1C4C96;
    width: 984px;
    height: 459px;
    background-color: #E3E6EA;
}

.container-imagem_ampliada{
    margin: auto;
    margin-top: 200px;
    border-bottom: 1px solid #1C4C96;
    width: 984px;
    height: 800px;
    background-color: #E3E6EA;
}

.texto_ampliada1{
    float: left;
    margin-left: 50px;
    margin-top: 75px;
    font-family: 'Inter', sans-serif;
    width: 420px;
    margin-bottom: 40px;
    line-height: 27px;
    font-size: 24px;
    font-weight:300;
    color: #1C4C96;
}

.texto_ampliada3{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    width: 420px;
    margin-bottom: 40px;
    line-height: 27px;
    font-size: 20px;
    font-weight:300;
    color: #1C4C96;
}
.processamento_ampliado{
    float: right;
    margin-top: 75px;
    width: 450px;
    height: 220px;
    border: 1px solid #1C4C96;
    background-color: #FFFF;
    border-radius: 10px;
}

.texto_ampliada2{
    float: left;
    font-family: 'Inter', sans-serif;
    width: 355px;
    margin: 20px 30px;
    line-height: 27px;
    font-size: 24px;
    font-weight:600;
    color: #1C4C96;
}

.container-resultados_da_formula{
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 984px;
    height: 459px;
    background-color: #E3E6EA;
}

.documento_resultados{
    float: left;
    margin: auto;
    width: 370px;
    height: 480px;
    border: 1px solid #1C4C96;
    background-color: #E3E6EA;
}

.texto_Titulo_resultados{
    float: right;
    font-family: 'Inter', sans-serif;
    width: 546px;
    font-size: 36px;
    font-weight:700;
    color: #1C4C96;
}

.texto_Descrição_resultados{
    float: right;
    font-family: 'Inter', sans-serif;
    width: 546px;
    margin-top: 57px;
    font-size: 24px;
    font-weight:300;
    color: #1C4C96;
}

.texto_Clique_resultados{
    float: right;
    font-family: 'Inter', sans-serif;
    margin-top: 28px;
    width: 546px;
    font-size: 24px;
    font-weight:400;
    color: #1C4C96;
}

.texto_Clique_resultados_negrito{
    font-weight:700;
}

.cabeçalho_inferior{
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #1C4C96;
}

.container-creditos{
    margin: auto;
    width: 984px;
    height: 60px;
    background-color: #1C4C96;
}

.Texto_dos_creditos{
    float: right;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    width: 546px;
    font-size: 18px;
    font-weight:300;
    color: #000000;
}

.Texto_dos_creditos_destaque{
    color: #ffffff;
}